<h1>{{ title }}</h1>
<p>Welcome to the Hamburger Sandwich Clicker Game!</p>

<!-- Your existing burger icons or other visuals can remain here -->
<div class="burger-icons">
  <img
    src="https://cdn-icons-png.flaticon.com/512/3075/3075977.png"
    alt="Burger Icon"
    class="burger-icon"
  />
  <img
    src="https://cdn-icons-png.flaticon.com/512/3075/3075977.png"
    alt="Burger Icon"
    class="burger-icon"
  />
  <img
    src="https://cdn-icons-png.flaticon.com/512/3075/3075977.png"
    alt="Burger Icon"
    class="burger-icon"
  />
</div>

<div class="clicker-container">
  <button (click)="handleClick()">
    Cook a Hamburger (FEEEDDD MEEE MORRRE!!!)
  </button>
  <p>You have: {{ points }} points</p>
</div>

<!-- Upgrades component sends an upgrade event with cost and multiplier -->
<app-upgrades
  [points]="points"
  (upgradeBought)="handleUpgradeBought($event.cost, $event.multiplier)"
>
</app-upgrades>
