<h1>{{ title }}</h1>
<p>Welcome to the Hamburger Sandwich Clicker Game!</p>

<div class="burger-icons">
  <img
    src="https://cdn-icons-png.flaticon.com/512/3075/3075977.png"
    alt="Burger Icon"
    class="burger-icon"
  />
  <img
    src="https://cdn-icons-png.flaticon.com/512/3075/3075977.png"
    alt="Burger Icon"
    class="burger-icon"
  />
  <img
    src="https://cdn-icons-png.flaticon.com/512/3075/3075977.png"
    alt="Burger Icon"
    class="burger-icon"
  />
</div>

<div class="clicker-container">
  <button (click)="handleClick()">
    Cook a Hamburger (FEEEDDD MEEE MORRRE!!!)
  </button>
  <p>Burgers Cooked: {{ points }}</p>
  <div class="burger-dollar">
    <img
      src="src\assets\ChatGPT Image Apr 10, 2025, 09_53_20 AM.png"
      alt="Burger Dollar"
    />
    <p>{{ points }}</p>
  </div>
</div>

<!-- Upgrades component with input binding for points and output for upgrade purchases -->
<app-upgrades
  [points]="points"
  (upgradeBought)="handleUpgradeBought($event)"
></app-upgrades>
